@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'Archer';
    src: url(../fonts/Archer-LightItal-Pro.eot);
    src: url(../fonts/Archer-LightItal-Pro.woff2) format('woff2'),
    url(../fonts/Archer-LightItal-Pro.woff) format('woff'),
    url(../fonts/Archer-LightItal-Pro.ttf) format('truetype'),
    url(../fonts/Archer-LightItal-Pro.svg#Archer_LightItal_Pro)
    format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Archer Bold';
    src: url(../fonts/Archer-BoldItal-Pro.eot);
    src: url(../fonts/Archer-BoldItal-Pro.woff2) format('woff2'),
    url(../fonts/Archer-BoldItal-Pro.woff) format('woff'),
    url(../fonts/Archer-BoldItal-Pro.ttf) format('truetype'),
    url(../fonts/Archer-BoldItal-Pro.svg#Archer_BoldItal_Pro)
    format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Marydale';
    src: url(../fonts/marydale-webfont.eot);
    src: url(../fonts/marydale-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/marydale-webfont.woff) format('woff'),
    url(../fonts/marydale-webfont.ttf) format('truetype'),
    url(../fonts/marydale-webfont.svg#marydaleregular) format('svg')
}

@font-face {
    font-family: 'MuseGo';
    src: url(../fonts/museosans_500-webfont.eot);
    src: url(../fonts/museosans_500-webfont.eot?#iefix)
    format('embedded-opentype'), url(../fonts/museosans_500-webfont.woff2)
    format('woff2'), url(../fonts/museosans_500-webfont.woff)
    format('woff'), url(../fonts/museosans_500-webfont.ttf)
    format('truetype'),
    url(../fonts/museosans_500-webfont.svg#museo_sans500) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseGo Bold';
    src: url(../fonts/museosans_700-webfont.eot);
    src: url(../fonts/museosans_700-webfont.eot?#iefix)
    format('embedded-opentype'), url(../fonts/museosans_700-webfont.woff2)
    format('woff2'), url(../fonts/museosans_700-webfont.woff)
    format('woff'), url(../fonts/Museosans_700-webfont.ttf)
    format('truetype'),
    url(../fonts/museosans_700-webfont.svg#Museo_sans700) format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: 'MuseGo', Gotham, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-weight: normal;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear {
    display: inline-table;
    display: block;
}

html[xmlns] .clear {
    display: block;
}

* html .clear {
    height: 1%;
}

h1, h2, h3 {
    font-weight: normal;
}

strong {
    font-family: 'MuseGo Bold', Gotham, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    font-weight: normal;
}

.spectrum-top {
    background-color: #232323;
    background: url('../img/spectrum-vert.gif') no-repeat center center
    fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 5px;
    text-align: center;
}

.spectrum-bottom {
    background-color: #232323;
    background: url('../img/spectrum-vert.gif') no-repeat center center
    fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 5px;
    text-align: center;
}

.spectrum-bottom.checkout {
    margin-top: 0;
}

.controls-container {
    background-color: #FFFFFF;
    bottom: 0;
    color: #666;
    left: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.header-controls-container {
    background-color: #ffffff;
    color: #333;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

.controls, .header-controls {
    position: relative;
}

.header-controls {
    top:10px;
}


.title {
    font-size: 26px;
    left: -12.5%;
    margin-left: 50%;
    margin-top: 10px;
    position: absolute;
    width: 25%;
}

#title_preview, #title_photos{
    left: -15%;
}

.btn_normal {
    font-size: 6vw;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.btn_green, .btn_start {
    background: #15af6a;
    text-align: center;
}

.btn_green:active, .btn_start:active {
    background: #19c477;
}

.btn_blue:active {
    background: #17a7dc;
}

.btn_blue:hover {
    background-color: #19b5ef;
}

.btn_pink {
    background: #ff2da7;
}

.btn_pink:active {
    background: #ff2da7;
}

.btn_blue {
    background: #1c80c3;
    background: -moz-linear-gradient(top, #1c80c3 1%, #0068ad 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #1c80c3),
    color-stop(99%, #0068ad));
    background: -webkit-linear-gradient(top, #1c80c3 1%, #0068ad 99%);
    background: -o-linear-gradient(top, #1c80c3 1%, #0068ad 99%);
    background: -ms-linear-gradient(top, #1c80c3 1%, #0068ad 99%);
    background: linear-gradient(to bottom, #1c80c3 1%, #0068ad 99%);
    border-radius: 100px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    text-shadow: 1px 1px 1px #999;
}

.btn_blue:hover {
    background: #1c80c3;
    background: -moz-linear-gradient(top, #1c80c3 1%, #00568c 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #1c80c3),
    color-stop(99%, #00568c));
    background: -webkit-linear-gradient(top, #1c80c3 1%, #00568c 99%);
    background: -o-linear-gradient(top, #1c80c3 1%, #00568c 99%);
    background: -ms-linear-gradient(top, #1c80c3 1%, #00568c 99%);
    background: linear-gradient(to bottom, #1c80c3 1%, #00568c 99%);
    color: #FFFFFF;
}

.btn_blue:active {
    background: #1c80c3;
    background: -moz-linear-gradient(top, #1c80c3 1%, #1c80c3 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #1c80c3),
    color-stop(99%, #1c80c3));
    background: -webkit-linear-gradient(top, #1c80c3 1%, #1c80c3 99%);
    background: -o-linear-gradient(top, #1c80c3 1%, #1c80c3 99%);
    background: -ms-linear-gradient(top, #1c80c3 1%, #1c80c3 99%);
    background: linear-gradient(to bottom, #1c80c3 1%, #1c80c3 99%);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
}

.btn_header {
    color: #333;
    cursor: pointer;
    float: left;
    font-family: "MuseGo";
    font-size: 16px;
    font-weight: normal;
    margin: 10px 10px 10px 1px;
    padding: 5px 10px 5px 5px;
}

.btn_header img {
    vertical-align: middle;
}

.btn_back img {
    margin-top: -2px;
    margin-right: 3px;
}

.btn_cart img {
    margin-top: -2px;
    margin-left: 3px;
}

.btn_text {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
}

.btn_cart {
    color: #333;
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 10px 5px 10px 10px;
    padding: 5px 10px;
}

.total {
    color: #333;
    float: right;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
}

.btn_cart img {
    vertical-align: middle;
}

.btn_start {
    color: #fff;
    margin: 10px 0 10px 25%;
    padding: 10px 5%;
    text-transform: uppercase;
    width: 40%;
}

.controls-container .controls-menu {
    padding-top: 1vh;
}

.controls-container .controls-menu .menu-format {
    border-bottom: 1px solid #999;
    width: 95%;
    margin: 0px 2.5%;
}

.polaroid-edit .btn_normal {
    background-color: #ccc;
    border-radius: 0;
    border-top: 1px solid #ccc;
    color: #666666;
    float: left;
    font-size: 2.5vh;
    letter-spacing: 0.1em;
    padding: 1.5vh 0;
    width: 50%;
    cursor: pointer;
}

.polaroid-edit .btn_normal.selected {
    background-color: #FFF;
    text-transform: uppercase;
    color: #00B665;
}

.menu-fx {
    color: #fff;
}

.menu-fx .fx {
    float: left;
    font-size: 12px;
    height: 5vh;
    line-height: 7vh;
    margin: 0.5vh 0.5%;
    max-height: 35px;
    overflow: hidden;
    padding: 0 1% 1%;
    text-shadow: 1px 1px 1px #000;
    width: 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu-fx .fx.BW {
    background: url('../img/fx-bw.jpg') no-repeat center center;
}

.menu-fx .fx.Sepia {
    background: url('../img/fx-sepia.jpg') no-repeat center center;
}

.menu-fx .fx.None {
    background: url('../img/fx-none.jpg') no-repeat center center;
}

.menu-fx .rotate, .menu-fx .delete {
    float: right;
    width: 10%;
    padding: 1vh 1.5%;
}

.menu-fx .rotate img {
    height: 4vh;
    max-height: 35px;
}

.menu-fx .delete img {
    padding: 0px 10px;
}

.menu-format .format {
    float: left;
    font-size: 11px;
    height: auto;
    padding: 2.5%;
    width: 20%;
}

.menu-format .format img {
    border: 1px solid #ccc;
    max-width: 55px;
    width: 8vh;
}

/*
 .menu-format .format img.landscape {
	margin: 0.5vh 0;
 }
 */
.format.selected {
    color: #00b665;
}

.format.selected img {
    border-color: #00b665;
}

.qty {
    margin-top: 5px;
    margin-bottom:15px;
}

.qty input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #333;
    font-family: "MuseGo";
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0;
    text-align: center;
    width: 20px;
}

.size {
    float: left;
    width: 33%;
    position: relative;
    font-size: 2vh;
}

.size .polaroidicon {
    border: 1px solid #ccc;
}

.size.small img.polaroidicon {
    margin-top: 1.6vh;
    width: 2.5vh;
}

.size.medium img.polaroidicon {
    margin-top: 1vh;
    width: 3vh;
}

.size.large img.polaroidicon {
    width: 4vh;
}

.sizes-container {
    background-color: #000;
    color: #fff;
    font-size: 24px;
    margin-top: 75px;
    text-align: center;
    width: 100%;
}

.sizes {
    background-color: #000;
    color: #fff;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

.sizes img {
    margin: 0 5%;
    vertical-align: middle;
    width: 40%;
}

.sizes p {
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.sizes span {
    color: #C1C1C1;
}

.pictures {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    top: 50%;
    margin-top: -23vw;
    text-align: center;
    position: absolute;
    font-size: 6vw;
}

.pictures img, .social img {
    border-radius: 50%;
    margin: 0 4vw;
    width: 23vw;
}

.pictures img.facebook, .logout button.facebook, .social img.facebook {
    background-color: #3B5999;
}

.pictures img.instagram, .logout button.instagram, .social img.instagram{
    background-color: #9D7144;
}

.social img.twitter{
    background-color: #5EA9DD;
}

.pictures img.gallery{
    background-color: #15af6a;
}

.pictures div.facebook, .pictures div.instagram, .pictures div.gallery {
    font-family:archer;
    width:33%;
    float:left;
    font-size:4vw;
}

.logout{
    position:absolute;
    bottom:60px;
    width: 100%;
    bottom: 5px;
}

.logout button{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: medium none;
    float: left;
    font-family: "Archer Bold",Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#FFF;
    margin: 0 2.5%;
    padding: 10px 0;
    width: 45%;
}

.zoom{
    width: 100%;
    height: 55px;
}

.zoom button {
    -webkit-appearance: none;
    background-color: #ccc;
    border: medium none;
    color: #333;
    float: left;
    font-family: "Archer Bold",Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 4vw;
    margin: 0 2.5%;
    padding: 10px 0;
    width: 45%;
}

.zoom button:active {
    background-color: #EEE;
}

.directions {
    color: #787878;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    line-height:57px;
}

.polaroids {
    height: 100%;
    width: 100%;
    margin-top: 60px;
}

.polaroid-shadow {
    box-shadow: 0 0 2px #333333;
}

.header-message-container {
    position: absolute;
    top: 54px;
    width: 100%;
    z-index: 1;
    left: -5px;
}

.header-message-container .degree0 {
    color: #FFF;
    font-size: 11px;
    text-align: center;
    padding: 10px;
    color: #787878;
}

.header-message-container .degree1, .degree2, .degree3, .degree4,
.degree5, .degree6 {
    color: #FFF;
    font-style: 12px;
    padding: 10px;
    text-align: center;
}

.header-message-container .degree1 {
    background-color: #D6268C;
}

.homeslider-container {
    background-color: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
}

.homeslider div {
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
}

.homeslider div img {
    width: 100%;
    max-width: 643px;
}

.homeslider div {
    display: none;
}

.homeslider div.current {
    display: inline-block;
}

.homeslider-controls {
    bottom: 100px;
    height: 11px;
    left: 50%;
    margin-left: -54px;
    position: absolute;
    width: 108px;
}

.homeslider-controls div {
    background-color: #00BCE1;
    border-radius: 100px;
    float: left;
    height: 8px;
    margin: 0 2px;
    opacity: 0.5;
    width: 8px;
}

.homeslider-controls div.current {
    opacity: 1;
}

.checkout {
    color: #323030;
    font-size: 4vw;
    height: 100%;
    padding: 20px 5%;
    width: 90%;
    margin-top: 60px;
}

.checkout .header {
    color: #ed3fa1;
    font-family: musego bold;
    font-size: 5vw;
    margin-bottom: 20px;
}

.checkout input {
    border-color: #323030;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #323030;
    font-size: 4vw;
    margin: 0 3% 20px;
    padding: 1vw 2%;
    width: 90%;
}

.checkout input[type="radio"] {
    float: left;
    margin: 0 3% 20px;
    width: auto;
}

.checkout label.radio {
    float: left;
    width: auto;
    margin-right: 7%;
}

.checkout select {
    width: 100%;
    margin-bottom: 15px;
}

.checkout input.name {
    float: left;
    margin-right: 3vw;
    /*width: 35.7vw;*/
}

.checkout select.state {
    border-bottom: 1px solid #323030;
    border-style: none none solid;
    float: left;
    font-size: 4vw;
    margin-left: 3%;
    margin-right: 3vw;
    padding: 1vw 2%;
    width: 45vw;
}

.checkout input.creditcard {
    /*float: left;*/
    margin-right: 6vw;
    width: 90%;
}

.checkout input.ccv {
    /*float: left;*/
    width: 90%;
}

.checkout input.mm {
    /*float: left;*/
    width: 90%;
}

.checkout input.yyyy {
    /*float: left;*/
    width: 90%;
}

.checkout input.zipcode {
    /*float: right;*/
    width: 90%;
}

.checkout-step {
    margin-bottom: 10vw;
}

.checkout-step h2 {
    border-bottom: 1px solid #fff;
    font-family: "MuseGo Bold";
    font-size: 6vw;
    font-weight: normal;
    margin-bottom: 2px;
    text-align: center;
}

.checkout-step p {
    text-align: center;
    font-size: 4vw;
}

.checkout-step table {
    width: 100%;
}

.checkout-success {
    background: url('../img/checkoutsuccess.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #FFF;
    width: 100%;
    height: 100%;
    position: absolute;
}

.checkout-success .message {
    margin: 10%;
    width: 80%;
}