@charset "utf-8";
/* CSS Document */

@font-face{font-family:'Museo';src:url(fonts/28B7D0_1_0.eot);src:url(fonts/28B7D0_1_0.eot?#iefix) format('embedded-opentype'), url(fonts/28B7D0_1_0.woff) format('woff'), url(fonts/28B7D0_1_0.ttf) format('truetype')}

@font-face{font-family:'HarmoniaSans';src:url(fonts/28B7D3_0_0.eot);src:url(fonts/28B7D3_0_0.eot?#iefix) format('embedded-opentype'), url(fonts/28B7D3_0_0.woff) format('woff'), url(fonts/28B7D3_0_0.ttf) format('truetype')}

@font-face{font-family:'HarmoniaSans Bold';src:url(fonts/28B7D3_1_0.eot);src:url(fonts/28B7D3_1_0.eot?#iefix) format('embedded-opentype'), url(fonts/28B7D3_1_0.woff) format('woff'), url(fonts/28B7D3_1_0.ttf) format('truetype')}

@font-face{font-family:'Marydale';src:url(fonts/marydale-webfont.eot);src:url(fonts/marydale-webfont.eot?#iefix) format('embedded-opentype'), url(fonts/marydale-webfont.woff) format('woff'), url(fonts/marydale-webfont.ttf) format('truetype'), url(fonts/marydale-webfont.svg#marydaleregular) format('svg')}

body, html{
	background-color: #000;
	margin: 0;
	padding: 0;
	font-family:'HarmoniaSans', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:normal;	
}

.clear:after {content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clear {display:inline-table;
display:block;
}
html[xmlns] .clear {display:block;}
* html .clear {height:1%;}

strong{
	font-family:'HarmoniaSans Bold', Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:normal;
}

.spectrum-top{
	background-color: #232323;
	background:url('images/spectrum-vert.gif') no-repeat center center fixed; 
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	height:5px;
	text-align: center;
}

.spectrum-bottom{
	background-color: #232323;
	background:url('images/spectrum-vert.gif') no-repeat center center fixed; 
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
	height:5px;
	text-align: center;
}
.controls-container{
	background-color: #232323;
	bottom: 0;
	color: #fff;
	left: 0;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index:1;
}

.header-controls-container{
	background-color: #232323;
	top: 0;
	color: #fff;
	left: 0;
	text-align: center;
	width: 100%;
	z-index:1;
	position:fixed; 
}

.controls, .header-controls{
	position: relative;
}

.btn_normal{color:#fff; border:1px sold #fff; font-size:24px; cursor:pointer;}

.btn_green{
	background: #15af6a;
	background: -moz-linear-gradient(top,  #15af6a 0%, #0f844e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#15af6a), color-stop(100%,#0f844e));
	background: -webkit-linear-gradient(top,  #15af6a 0%,#0f844e 100%);
	background: -o-linear-gradient(top,  #15af6a 0%,#0f844e 100%);
	background: -ms-linear-gradient(top,  #15af6a 0%,#0f844e 100%);
	background: linear-gradient(to bottom,  #15af6a 0%,#0f844e 100%);
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
	-webkit-appearance: none;
	text-shadow: 1px 1px 1px #999;
}

.btn_green:hover{
	background: #19c477;
	background: -moz-linear-gradient(top,  #19c477 0%, #0e7746 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#19c477), color-stop(100%,#0e7746));
	background: -webkit-linear-gradient(top,  #19c477 0%,#0e7746 100%);
	background: -o-linear-gradient(top,  #19c477 0%,#0e7746 100%);
	background: -ms-linear-gradient(top,  #19c477 0%,#0e7746 100%);
	background: linear-gradient(to bottom,  #19c477 0%,#0e7746 100%);
	color: #FFFFFF;
}

.btn_green:active{
	background: #15af6a;
	background: -moz-linear-gradient(top,  #15af6a 1%, #15af6a 99%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#15af6a), color-stop(99%,#15af6a));
	background: -webkit-linear-gradient(top,  #15af6a 1%,#15af6a 99%);
	background: -o-linear-gradient(top,  #15af6a 1%,#15af6a 99%);
	background: -ms-linear-gradient(top,  #15af6a 1%,#15af6a 99%);
	background: linear-gradient(to bottom,  #15af6a 1%,#15af6a 99%);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
}

.btn_pink{
	background: #ff2da7;
	background: -moz-linear-gradient(top,  #ff2da7 0%, #ae1f72 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff2da7), color-stop(100%,#ae1f72));
	background: -webkit-linear-gradient(top,  #ff2da7 0%,#ae1f72 100%);
	background: -o-linear-gradient(top,  #ff2da7 0%,#ae1f72 100%);
	background: -ms-linear-gradient(top,  #ff2da7 0%,#ae1f72 100%);
	background: linear-gradient(to bottom,  #ff2da7 0%,#ae1f72 100%);
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
	-webkit-appearance: none;
	text-shadow: 1px 1px 1px #999;
}

.btn_pink:hover{
	background: #ff2da7;
	background: -moz-linear-gradient(top,  #ff2da7 1%, #ad0062 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff2da7), color-stop(100%,#ad0062));
	background: -webkit-linear-gradient(top,  #ff2da7 1%,#ad0062 100%);
	background: -o-linear-gradient(top,  #ff2da7 1%,#ad0062 100%);
	background: -ms-linear-gradient(top,  #ff2da7 1%,#ad0062 100%);
	background: linear-gradient(to bottom,  #ff2da7 1%,#ad0062 100%);
	color: #FFFFFF;
}

.btn_pink:active{
	background: #ff2da7;
	background: -moz-linear-gradient(top,  #ff2da7 1%, #ff2da7 99%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff2da7), color-stop(99%,#ff2da7));
	background: -webkit-linear-gradient(top,  #ff2da7 1%,#ff2da7 99%);
	background: -o-linear-gradient(top,  #ff2da7 1%,#ff2da7 99%);
	background: -ms-linear-gradient(top,  #ff2da7 1%,#ff2da7 99%);
	background: linear-gradient(to bottom,  #ff2da7 1%,#ff2da7 99%);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
}

.btn_blue{
	background: #1c80c3;
	background: -moz-linear-gradient(top,  #1c80c3 1%, #0068ad 99%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1c80c3), color-stop(99%,#0068ad));
	background: -webkit-linear-gradient(top,  #1c80c3 1%,#0068ad 99%);
	background: -o-linear-gradient(top,  #1c80c3 1%,#0068ad 99%);
	background: -ms-linear-gradient(top,  #1c80c3 1%,#0068ad 99%);
	background: linear-gradient(to bottom,  #1c80c3 1%,#0068ad 99%);
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
	-webkit-appearance: none;
	text-shadow: 1px 1px 1px #999;
}

.btn_blue:hover{
	background: #1c80c3;
	background: -moz-linear-gradient(top,  #1c80c3 1%, #00568c 99%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1c80c3), color-stop(99%,#00568c));
	background: -webkit-linear-gradient(top,  #1c80c3 1%,#00568c 99%);
	background: -o-linear-gradient(top,  #1c80c3 1%,#00568c 99%);
	background: -ms-linear-gradient(top,  #1c80c3 1%,#00568c 99%);
	background: linear-gradient(to bottom,  #1c80c3 1%,#00568c 99%);
	color: #FFFFFF;
}

.btn_blue:active{
	background: #1c80c3;
	background: -moz-linear-gradient(top,  #1c80c3 1%, #1c80c3 99%);background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1c80c3), color-stop(99%,#1c80c3));
	background: -webkit-linear-gradient(top,  #1c80c3 1%,#1c80c3 99%);
	background: -o-linear-gradient(top,  #1c80c3 1%,#1c80c3 99%);
	background: -ms-linear-gradient(top,  #1c80c3 1%,#1c80c3 99%);
	background: linear-gradient(to bottom,  #1c80c3 1%,#1c80c3 99%);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset;
}


.btn_addmore{
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
}

.btn_text{
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
}

.btn_cart{
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
}

.total{
    color: #fff;
    float: right;
    font-size: 16px;
    margin: 10px;
    padding: 5px 10px;
}

.btn_cart img{
	vertical-align:middle;
}


.btn_start{
	border: 1px solid #fff;
	margin: 10px 0 10px 25%;
	padding: 10px 5%;
	text-transform: uppercase;
	width: 40%;
}

.polaroid-edit .btn_normal{
	float:left;
	width: 18.3%;
	padding: 10px 2%;
	margin:1%;
	border:1px solid #fff;
	font-size:18px;
}

.polaroid-edit .btn_normal.selected{
	background-color: #fff;
	color: #232323;
	font-family: harmoniasans bold;
}

.menu-fx {
	overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

.menu-fx .menu-scroll {
	width: 1015px;
}

.menu-format .format{
  float: left;
  font-size: 11px;
  height: 100px;
  margin: 10px 2.5%;
  padding-top: 10px;
  width: 20%;
}

.menu-format .format img{
	width:55px;
}

.menu-format .format img.landscape{
	height: 55px;
  margin: 2px 0;
  width: auto;
}


.menu-size .size{
	float: left;
	font-size: 14px;
	height: auto;
	margin: 10px 0px;
	width: 33%;
}

.menu-size .size input {
	 font-size: 16px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    width: 40px;
}

.menu-fx .fx {
	border: 2px solid #232323;
	float: left;
	height: 100px;
	margin: 10px 20px;
	width: 125px;
	font-size: 14px;
}

.menu-rotate .rotate.right, .menu-rotate .rotate.left {
	border-radius: 1000px;
    font-size: 14px;
    height: 100px;
    margin: 10px 23px;
    max-width: 110px;
    padding: 5px 0;
    width: 50%;
}

.menu-rotate .rotate.right {
	float: right;
}

.menu-rotate .rotate.left {
	float: left;
}

.menu-rotate .rotate.right:action, .menu-rotate .rotate.left:action {
	background-color:#FFF;
}

.format.selected, .size.selected, .fx.selected{
  background-color: #323232;
}


.polaroids{
	background-color: #000;
	height: 100%;
	width: 100%;
	margin-top:60px;
}


.header-message-container{
	position: absolute;
    top: 55px;
    width: 100%;
    z-index: 1;
}

.header-message-container .degree0{
	color:#FFF;
	font-size:11px;
	text-align:center;
	padding:10px;
	color:#787878;
}

.header-message-container .degree1, .degree2, .degree3, .degree4, .degree5, .degree6{
	color:#FFF;
	font-style:12px;
	padding:10px;
	text-align:center;
}

.header-message-container .degree1{
	background-color:#D6268C;
}

.homeslider-container{
	background-color: #d4d4d4;
	height: 100%;
	position: absolute;
	width: 100%;
}

.homeslider div{
	height: 100%;
	position: absolute;
	width: 100%;
	text-align:center;
}

.homeslider div img{
	width: 100%;
	max-width:643px;
}

.homeslider div {
	display:none;
}

.homeslider div.current{
	display:inline-block;
}

/*
.homeslider .slide01{
	background:url('images/homeslide01.jpg') no-repeat center center fixed;	
}

.homeslider .slide02{
	background:url('images/homeslide02.jpg') no-repeat center center fixed;	
}

.homeslider .slide03{
	background:url('images/homeslide03.jpg') no-repeat center center fixed;	
}

.homeslider .slide04{
	background:url('images/homeslide04.jpg') no-repeat center center fixed;	
}

.homeslider .slide05{
	background:url('images/homeslide05.jpg') no-repeat center center fixed;	
}

.homeslider .slide06{
	background:url('images/homeslide06.jpg') no-repeat center center fixed;	
}

.homeslider .slide07{
	background:url('images/homeslide07.jpg') no-repeat center center fixed;	
}

.homeslider .slide08{
	background:url('images/homeslide08.jpg') no-repeat center center fixed;	
}

.homeslider .slide09{
	background:url('images/homeslide09.jpg') no-repeat center center fixed;	
}

.homeslider .slide{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
*/

.homeslider-controls{
	position:absolute;
	width:30%;
	height:11px;
	bottom:100px;
	left:50%;
	margin-left:-15%;
}

.homeslider-controls div{
	background-color:#FFF;
	height:8px;
	width:8%;
	border-radius:100px;
	float:left;
	margin-left:3%;
	opacity:.5;
}

.homeslider-controls div.current{
	opacity:.9;
}

.checkout {
   	background-color: #000;
    color: #fff;
    height: 100%;
    padding: 20px 5%;
    width: 90%;
		margin-top: 60px;
}

.checkout .header {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.checkout input {
    margin-bottom: 15px;
    padding: 5px 2%;
    width: 96%;
}

.checkout select {
    width: 100%;
		margin-bottom:15px;
}

.tab-container {
    background: #525252 none repeat scroll 0 0;
    padding: 5px;
}

.btn_tab {
    background: #000 none repeat scroll 0 0;
    float: left;
    margin: 0 0.5%;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    width: 49%;
}

.btn_tab.selected {
    background: #525252 none repeat scroll 0 0;
}

.tab-content {
    margin: 10px 2.5%;
    width: 95%;
}

.tab-content h2{
		border-bottom: 1px solid #fff;
    font-family: "HarmoniaSans Bold";
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

.tab-content p{
	text-align:center;
}

.tab-content table{
	width:100%;
}




